<footer class="bg-dark">
<div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <img src="../../../assets/images/shield.png" width="32" height="32" alt="">
        <p class="text-white">&copy; 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
      <a href="https://www.flaticon.com/free-icons/shield" title="shield icons">Shield icons created by Alfredo Hernandez - Flaticon</a>
</div>
</footer>
